@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
    --blue-200: hsl(193, 38%, 86%);
    --green-200: hsl(150, 100%, 66%);
    --blue-600: hsl(217, 19%, 38%);
    --blue-900: hsl(217, 19%, 24%);
    --blue-950: hsl(218, 23%, 16%);
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--blue-950);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.advice-h1 {
    color: var(--green-200);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.advice-p {
    color: var(--blue-200);
    font-size: 2rem;
}