@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
    --blue-200: hsl(193, 38%, 86%);
    --green-200: hsl(150, 100%, 66%);
    --blue-600: hsl(217, 19%, 38%);
    --blue-900: hsl(217, 19%, 24%);
    --blue-950: hsl(218, 23%, 16%);
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 2px solid red;*/
}

body {
    background-color: var(--blue-950);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-900);
    width: 90%;
    gap: 1rem;
    padding: 2rem 1rem 0rem;
}

.advice-h1 {
    color: var(--green-200);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.advice-p {
    color: var(--blue-200);
    font-size: 1.75rem;
    text-align: center;
    font-weight: 600;
}

.divider {
    margin-top: .5rem;
}

.generate-btn {
    background-color: var(--green-200);
    padding: 1rem;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1.8rem;
}